<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>

    <header> 
        
        <div class="entete"> 
            <h1 id="LOGO"> ASAPHMETEO </h1> 
            <nav>

                <ul>
                    <li> <a href=""> Contactez-nous</a>  </li>
                    <li> <a href=""> Aide </a> </li>
                </ul>

            </nav>
            
        </div>          
        
    </header>
</head>
<body>

    <div id="descr">
        <h1> Nous vous aidons dans votre noble mision <br>
            de rendre la prevision météorologique<br> 
            meilleur, pour le bien être de l'humanité
        </h1>
        <div id="MonImage">
        </div>
    </div>

    <!-- <form action="http://127.0.0.1:5000//login" method="post" id="myForm"> -->

    <form action="http://127.0.0.1:5000//city" method="post">
        <label for="city"> Emplacement </label>
        <input type="text" name="city" id="city"> <br>

        <input id="but" type="submit" value="soumettre">
    </form>

  
</body>
</html>